@model SitecoreDev.Feature.Media.ViewModels.HeroSliderViewModel

@if (Model.HasImages)
{
    if(Model.IsInExperienceEditorMode)
    {
        <div>
            @foreach(var image in Model.HeroImages)
            {
                <div class="item imageContainer">
                    @image.Image
                </div>
                @*
    <div class="item imageContainer">
        <img src="@image.MediaUrl" alt="@image.AltText" />
            <!-- We'll add a custom button here! -->
        <a href="#" class="btn btn-default editButton"
           onclick="javascript:Sitecore.PageModes.PageEditor.postRequest('webedit:fieldeditor(id=@(image.Id),fields=Image,command={582C2DB4-341A-43AF-80EE-FECE23742BDA})')">
            Edit Image
        </a>
    </div>
                *@
            }
        </div>
        <div style="clear:both;">
            <!-- We'll add our custom buttons here! -->
            <a href="#" class="btn btn-default"
               onclick="javascript:Sitecore.PageModes.PageEditor.postRequest('webedit:new(id=@(Model.ParentGuid))')">
                Add new image
            </a>
        </div>
    }
    else
    {
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                @for (int i = 0; i < Model.ImageCount; i++)
                {
                    <li data-target="#myCarousel" data-slide-to="@i" class="@(Model.HeroImages[i].IsActive ? " active" : "" )"></li>
                }
            </ol>
            <div class="carousel-inner" role="listbox">
                @foreach (var image in Model.HeroImages)
                {
                    <div class="item @(image.IsActive ? "active" : "")">
                        @image.Image
                    </div>
                    @*
    <div class="item @(image.IsActive ? "active" : "")">
        <img src="@image.MediaUrl" style="width:1920px;" alt="@image.AltText" />
    </div>
                    *@
                }
            </div>
        </div>
        if (Model.IsSliderIntervalSet)
        {
            <script type="text/javascript">
            $(document).ready(function () {
                $(".carousel").carousel({
                    interval: @(Model.SlideInterval),
                });
            });
            </script>
        }
    }
}